<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>不限</string>
	<string>福州</string>
	<string>厦门</string>
	<string>莆田</string>
	<string>三明</string>
	<string>泉州</string>
	<string>漳州</string>
	<string>南平</string>
	<string>龙岩</string>
	<string>宁德</string>
</array>
</plist>
